.spinspinspin{
	animation-name: spin;
	animation-duration: 1.0s;
	animation-iteration-count: infinite;
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform:rotate(1440deg);
	}
}

#second{
	position: absolute;
	top: 20%;
	left: 20%;
}

#first{
	position: absolute;
	top: 30%;
	left: 40%;
}