#paste{
	position: absolute;
	top: 19.5%;
	left: 15%;
	background-color: #555555;
	color: #FFFFFF;
	transition-duration: 0.4s;
  	cursor: pointer;
}

#paste:hover{
	background-color: #4CAF50; /* Green */
	color: white;
}

#copy{
	position: absolute;
	top: 19.5%;
	left: 7.5%;
	background-color: #555555;
	color: #FFFFFF;
	transition-duration: 0.4s;
  	cursor: pointer;
}

#copy:hover{
	background-color: #4CAF50; /* Green */
	color: white;
}


